.outline-item-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.toggle-icon {
    margin-right: 5px;
    cursor: pointer;
    user-select: none;

    font-size: 0.8em;
    width: 1em;
    text-align: center;
}

.outline-list.nested {
    margin-left: 15px;

    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: #5c8dee;

}

a:hover {
    text-decoration: underline;
}


.level-1 .outline-item-wrapper {
    padding-left: 0;
    font-weight: bold;
}

.level-2 .outline-item-wrapper {
    padding-left: 15px;
}

.level-3 .outline-item-wrapper {
    padding-left: 30px;
}

.level-4 .outline-item-wrapper {
    padding-left: 45px;
}

.level-5 .outline-item-wrapper {
    padding-left: 60px;
}

.level-6 .outline-item-wrapper {
    padding-left: 75px;
}